<!DOCTYPE html>
<html lang="en">
<head>
	<title>Are you happy?</title>
	<link rel="stylesheet" href="history.css">
</head>

<body>
	<div id="app">
		Filter:
		<input type="text" v-model="filter">
		<button @click="getMoodHistory()">Load History</button>
		<hr>
		<table>
			<tr>
				<th>Inserted At</th>
				<th>Inserted At Date</th>
				<th>Mood</th>
			</tr>
			<tr v-for="entry in entries">
				<td>{{ entry.inserted_at }}</td>
				<td>{{ new Date(entry.inserted_at) }}</td>
				<td>{{ entry.mood }}</td>
			</tr>
		</table>
	</div>
	
	<script src="//unpkg.com/vue"></script>
	<script src="//unpkg.com/http-vue-loader"></script>
	<script src="//unpkg.com/axios/dist/axios.min.js"></script>

	<script src="config.js"></script>
	<script src="history.js"></script>
</body>
</html>