html, body {
	font-family: Arial;
	height:100%;
}

input, button {
	padding:5px;
	font-size: 18px;
}

input {
	display:inline-block;
	width: 70%;
}

table {
	width:100%;
}

td {
	border-bottom:2px solid #efefef;
	padding:10px;
	margin:0;
}

th {
	text-align: left;
	padding:10px;
	border-bottom:2px solid black;
}